.centering {
    height: auto;
    text-align: center;
}

#jump{
    margin-left: 5%;
    text-align: left;
}

h1{
    text-align: center;
}

div.parent_box {
    display: flex;
}

img{
    width: 50vw;
    max-width: 640px;
}

.discription{
    margin: auto;
    margin-left: 0%;
    font-size: x-large;
    font-weight: bold;
}

body{
    font-family: 'Yu Gothic','Yu Gothic Medium','メイリオ','MS ゴシック','游ゴシック Medium',sans-serif;
}